Source: monkeyfrontik
Section: unknown
Priority: extra
Maintainer: Pavel Trukhanov <p.trukhanov@hh.ru>
Build-Depends: 
  cdbs,
  debhelper (>= 7), 
  python-support,
  python,
Standards-Version: 3.8.1

Package: monkeyfrontik
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, 
  frontik (>= 2.9.0),
  python-tornado (>= 1.2.1~hh1),
  python-tornado-util (>= 0.3),
  python, 
Description: monkeyfrontik - monkey patched frontik runner for some profiling
